/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both; }

.column {
  float: left; }

.menu {
  width: 33%;
  background: #2c3e50;
  color: #7b9fec;
  width: 220px; }

.menu li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  list-style: none; }

.selected {
  color: #ff8833; }

.menu li:hover {
  background-color: #4a647a;
  color: #ff8833; }

#menu {
  display: inline-block; }

p {
  -webkit-margin-before: 5em;
  -webkit-margin-start: 1em;
  color: #2c3e50; }
