$menu-bgcolor: #2c3e50;
$menu-bgcolor-active: #4a647a;
$menu-color: #7b9fec;
$menu-color-active: #97ffc3;

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.menu {
  width: 33%;
  background: $menu-bgcolor;
  color: $menu-color;
  width: 220px;

}
.menu ul {
  padding-left: 0px;
}

.menu li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  list-style: none;
}

.selected {
  color: $menu-color-active;
}

.menu li:hover {
  background-color: $menu-bgcolor-active;
  color: $menu-color-active;
}

#menu {
  display:inline-block;
}

p {
  -webkit-margin-before: 5em;
  -webkit-margin-start: 1em;
  color: $menu-bgcolor;
}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both; }


/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}


.edit-area {
  width: 170px;
  margin-left: 8px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px; }
