$font-stack:    Helvetica, sans-serif;
$primary-color: #485074;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

H1 {
  color: $primary-color;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

